.stream-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    background-color: #f4f4f4; /* Light grey background */
  }
  
  .form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .form div {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Makes sure padding doesn't affect overall width */
    margin-bottom: 20px;
  }
  
  input:focus {
    border-color: #FFC49A;
    outline: none; /* Removes the default focus outline */
  }
  
  button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #FFC49A;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  button:hover {
    background-color: #FFC49A; 
  }
  